name: React Project Artifact
on: 
    push:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Set up Node.js Enivroment
              uses: actions/setup-node@v6

            - name: Install Dependencies
              run: npm install

            - name: Build React App
              run: npm run build
            
            - name: Upload Build Artifacts
              uses: actions/upload-artifact@v4
              with: 
                name: react-build
                path: dist