name: React Project Artifact
on: 
    push:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Set up Node.js Enivroment
              uses: actions/setup-node@v6

            - name: Install Dependencies
              run: npm install

            - name: Build React App
              run: npm run build
            
            - name: Upload Build Artifacts
              uses: actions/upload-artifact@v4
              with: 
                name: react-build
                path: dist

            - name: Send Email Notification
              uses: dawidd6/action-send-mail@v6
              env:
               HTTP_PROXY: http://proxy.example.test:3128
              with:

                server_address: smtp.gmail.com
                server_port: 465
                username: ${{secrets.MAIL_USERNAME}}
                password: ${{secrets.MAIL_PASSWORD}}
                subject: React App Build Successfully
                to: ${{secrets.RECEIVER_MAIL}}
                from: ${{secrets.MAIL_USERNAME}}
                body: "Build job of ${{github.repository}} for Branch: ${{github.ref_name}} completed successfully!"
                